@media screen and ( max-width: 800px )
  .content-box
    max-width: 500px  
  .content-box__wrapper .symetry__wrapper .top-block 
    .save
      font-size: 50px
    .text
      font-size: 18px
  .content-box__wrapper .middle-descriptions__wrapper
    max-width: 400px  
    .title
      font-size: 18px
      font-weight: 700
    .text 
      font-size: 12px
      i 
        display: none
      a 
        font-size: 14px
  .content-box__wrapper .reminder 
    height: 50px
    .text
    font-size: 12px
  .content-box__wrapper .content-bottom .top-footer
    font-size: 12px
    max-width: 400px
    margin: 0 auto
  .content-box__wrapper .content-bottom .bot-footer__wrapper .socials
    margin-left: 5px
@media screen and ( max-width: 600px )
  .conteiner .top-disclaimer, .conteiner .bottom-disclaimer__wrapper
    max-width: 280px  
    margin: 0 auto
    text-align: center
  .conteiner .bottom-disclaimer
    padding-bottom: 45px
  .content-box
    max-width: 300px  
  .content-box__wrapper .symetry__wrapper .top-block 
    .save
      font-size: 50px
    .text
      font-size: 18px
  .content-box__wrapper .middle-descriptions__wrapper
    max-width: 250px  
  .content-box__wrapper .symetry__wrapper .price
    margin-left: 5px
    justify-content: space-around
    .upgrade
      margin-left: 5px
    .full
      padding-bottom: 20px
  .content-box__wrapper .symetry__wrapper .top-block
    padding: 25px 0 0 10px
    .perfect-symmetry
      font-size: 18px 
    .save
      font-size: 40px
      margin-top: 10px
    .text
      font-size: 12px
      margin-bottom: 15px
  .content-box__wrapper .callout 
    width: 110px;
    height: 65px;
    .callout-text
      font-size: 14px 
      margin-left: 34px
      margin-top: 10px
  .content-box__wrapper .middle-descriptions__wrapper .title
    font-size: 14px
    line-height: 22px
  .content-box__wrapper .middle-descriptions__wrapper .text
    font-size: 12px
    text-align: justify
    a 
      font-size: 12px
  .content-box__wrapper .reminder 
    height: 50px
    .text
      max-width: 250px  
      font-size: 10px
      text-align: center
  .content-box__wrapper .content-bottom .top-footer
    display: flex
    flex-direction: column
    font-size: 10px
    max-width: 250px
    padding: 5px 0 5px 0
    height: 60px
    .v-line
      transform: rotate(90deg)
      height: 30px
  .content-box__wrapper .content-bottom .bot-footer__wrapper 
    justify-content: center
    .socials
      margin-left: 5px
      border: none
@media screen and ( max-width: 400px )
  .conteiner .top-disclaimer, .conteiner .bottom-disclaimer__wrapper
    max-width: 250px 
  .content-box
    max-width: 250px
  .content-box__wrapper .middle-descriptions__wrapper
    max-width: 210px 
  .content-box__wrapper .content-header a
    margin-left: 5px
  .content-box__wrapper .symetry__wrapper .top-block .perfect-symmetry
    font-size: 15px
  .content-box__wrapper .reminder .text
    max-width: 230px  
  .content-box__wrapper .symetry__wrapper .top-block .save
    font-size: 32px   
  .content-box__wrapper .symetry__wrapper .top-block .text
    font-size: 10px
    margin-bottom: 9px